@-webkit-keyframes settings {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@keyframes settings {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

.buy-btn {
    display: block;
    clear: both;
    margin: 10px -1px -1px -1px;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    color: #f9f9f9;
    background: blue;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
}

.landing {
    padding-bottom: 50px;
    overflow-y: scroll;
}
.landing header {
    padding: 120px 0;
}
.landing header h1 {
    font-size: 62px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 10px;
    color: #F5AE51;
}
.landing header p {
    font-size: 26px;
    font-weight: 600;
}
.landing header a {
    margin-top: 30px;
}
.landing .demos .demo-item {
    margin-bottom: 60px;
    display: block;
    position: relative;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    padding: 0 20px;
}
.landing .demos .demo-item:hover {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
}
.landing .demos .demo-item img {
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.landing .demos .demo-item:hover span {
    color: #F5AE51;
}
.landing .demos .demo-item span {
    margin-top: 20px;
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 1em;
    text-transform: uppercase;
    -webkit-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    transition: all ease 0.2s;
}